.step-three-container {
  width: 75%;
  margin: auto;
  color: var(--rescue-blue);
  height: 100%;
}

.step-three-form {
  width: 100%;
}

.step-three-form-group {
  display: flex;
  justify-content: space-around;
}

.checkbox {
  justify-content: flex-start;
  margin: 1rem 0;
}

.step-three-form-label {
  display: flex;
  align-items: center;
  color: var(--rescue-blue);
  font-weight: 600;
  width: 50%;
}

.step-three-note {
  font-style: italic;
  padding-left: 5rem;
}