.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container img {
  width: 120%;
}

.header-home-icon {
  padding: 1rem;
}

.header-home-icon svg {
  width: 8rem;
  height: 8rem;
  color: var(--rescue-blue);
  cursor: pointer;
}