.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid var(--rescue-blue);
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}

input:checked {
  background-color: var(--rescue-blue);
  position: relative;
}

input:checked::before { 
  content: "✓";
  font-size: 1.5em;
  color: var(--cloud-white);
  position: absolute;
  right: 1px;
  top: -5px;
}

.checkbox-wrapper input[type="checkbox"]:disabled {
  border-color: var(--primary-lite);
  background-color: var(--primary-lite);
}

.checkbox-wrapper input[type="checkbox"]:disabled + span {
  color: var(--primary-lite);
}

.checkbox-wrapper label {
  padding-left: 2rem;
  display: flex;
  align-self: center;
  font-size: 24px;
  cursor: pointer;
}