:root {
  --rescue-blue: #00395F;
  --silver-lining: #AFB2B3;
  --sunshine-yellow: #FFB500;
  --sunshine-yellow-outline: #fac343;
  --outback-orange: #EC7700;
  --outback-orange-outline: #f59a3e;
  --cloud-white: #ffffff;
  --error_color: #F6A29A;
  --error_color_outline: #FDF0FB;
  --primary-lite: #c0bec5;

  --webcam-weight: 720px;
  --webcam-height: 720px;
}

body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif !important;
  margin: auto;
  max-width: 38rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100%;
  background-color: #fff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.app_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.unbuttonize {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

.main-view {
  margin: auto;
  height: 100%;
}

.large-title {
  font-size: 72px;
  font-weight: 600;
  color: var(--rescue-blue);
}

.x-large-text {
  font-size: 92px;
}

.large-text {
  font-size: 52px;
}

.medium-text {
  font-size: 42px;
}

.small-text {
  font-size: 32px;
  color: var(--rescue-blue);
}

.x-small-text {
  font-size: 24px;
}

.primary-button {
  background-color: var(--outback-orange) !important;
  color: var(--cloud-white);
  border: 1px solid var(--outback-orange-outline) !important;
}

.primary-button:hover {
  background-color: var(--outback-orange-outline) !important;
  color: var(--cloud-white);
}

.secondary-button {
  background-color: var(--silver-lining) !important;
  border: 1px solid var(--primary-lite) !important;
}

.secondary-button:hover {
  background-color: var(--primary-lite) !important;
}