:root {
  --rescue-blue: #00395F;
  --silver-lining: #AFB2B3;
  --sunshine-yellow: #FFB500;
  --sunshine-yellow-outline: #fac343;
  --outback-orange: #EC7700;
  --outback-orange-outline: #f59a3e;
  --cloud-white: #ffffff;
  --error_color: #F6A29A;
  --error_color_outline: #FDF0FB;
  --primary-lite: #c0bec5;
}

body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  margin: auto;
  max-width: 38rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100%;
  background-color: #fff;
}

video {
  width: 640px;
  height: 480px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.app_container {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
}